<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Configuracion>
  <Cil>
    <id>4m0wM26JtMT//ggr96R80w==</id>
    <fa>8tHKtKZ8OVnS9yghAVwAmQ0gLd1j4Any9PxZW05ZE34=</fa>
    <fc>q0rBjNQ0vb1jMbVJG8q3ujIXCzJBIUMf9PiPOuNuC8s=</fc>
    <fu>8tHKtKZ8OVnS9yghAVwAmQ0gLd1j4Any9PxZW05ZE34=</fu>
  </Cil>
  <lg>
  <u1></u1>
  <u2></u2>
  <p1></p1>
  <p2></p2>
  </lg>
</Configuracion>
